<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-6 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
                <h3>About Us</h3>
                <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse.<span>
                        Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit.
                    </span>
                </p>
            </div>
            <div class="col-md-6 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
                <h3>Contact Info</h3>
                <ul>
                    <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>455 Vu Tong Phan, Than Xuan District,<span>Ha Noi City.</span></li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:laiminhduc99@gmail.com">laiminhduc99@gmail.com</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+84 0386 751 567</li>
                </ul>
            </div>
           
            <div class="clearfix"> </div>
        </div>
        <div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
            <h2><a href="index.html">QTD Store <span>shop anywhere</span></a></h2>
        </div>
        <div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
            <p>&copy 2021 QTD Store. All rights reserved | Design by <a href="/Home">QTD Store</a></p>
        </div>
    </div>
</div>
<!-- //footer -->