@using (Html.BeginForm())
{
    <div class="input-group rounded">

        <p>
            @Html.TextBox("SearchString", null, new { @class = "form-control rounded", @placeholder = "Search: Name, Phone, Address,etc" } )
        </p>

    </div>
}