@model IEnumerable<Online_Shop.Models.Product>
@{
    /**/
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";

}

<!-- banner -->
<div class="banner">
    <div class="container">
        <div class="banner-info animated wow zoomIn" data-wow-delay=".5s">
            <h3>Free Online Shopping</h3>
            <h4>Up to <span>50% <i>Off/-</i></span></h4>


        </div>
    </div>
</div>
<!-- //banner -->
<!-- collections -->
<div class="new-collections">
    <div class="container">
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">New Collections</h3>
        <p class="est animated wow zoomIn" data-wow-delay=".5s">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
        </p>
        <div class="new-collections-grids">
            <div class="product-box-container">
                @foreach (var item in Model)
                {
                    var image = Path.Combine("/Include/Images/" + item.Images.Split(';')[0]);
                    <!-- Product -->
                    <div class="col-md-4 product">
                        <div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s">
                            <div class="new-collections-grid1-image">
                                <a href="/ProductView/SingleItem/@item.Id" class="product-image"><img src="@image" alt=" " class="img-responsive" /></a>
                                <div class="new-collections-grid1-image-pos">
                                    <a href="/ProductView/SingleItem/@item.Id">Quick View</a>
                                </div>
                            </div>
                            <h4><a href="/ProductView/SingleItem/@item.Id">@item.Name</a></h4>
                            <p>@item.Short_desc </p>
                            <div class="new-collections-grid1-left simpleCart_shelfItem">
                                <p><span class="item_price">$@item.Price</span><a class="item_add" href="#">add to cart </a></p>
                            </div>
                        </div>

                    </div>
                    <!-- Product -->
                }
                </div>
            </div>
        </div>
</div>
<!-- //collections -->
